@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: "微软雅黑";
}

.layer1{
    position: absolute;
    z-index: -2;
    width: 100%;
    min-width: 1000px;
}

.layer2{
    z-index: 5;
    width: 100%;
    min-width: 1000px;
}

#img1{
    background: url(../img/Group@2x.png);
    background-size: cover;
    height: 700px;
    width: 100%;
}

#img2{
    background: url(../img/Group2@2x.png);
    background-size: cover;
    height: 700px;
    width: 80%;
    margin-top:200px;
}

#text-works{
    font-size: 80px;
    color: rgb(208,217,207);
    margin-left: 10%;
}

#text-we{
    font-size: 80px;
    color: rgb(208,217,207);
    margin-left: 50%;
    margin-top: 150px;
}

#logo{
    width:60px;
    margin: 0px auto 180px auto;
    padding-top:20px;
}

#title{
    position: relative;
    height:152px;
}

.title-div{
    display: inline-block;
}

.title-text{
    font-size: 92px;
    color: rgb(52,132,217);
}

#img-bk img{
    width: 100%;
    min-height: 152px;
}

#text-net{
    position: absolute;
    left: 50%;
    top: -15px;
}

#text-room{
    position: absolute;
    left: 65%;
    bottom: -15px;
    margin-bottom: 0px;
    color: rgb(208,217,207);
}

#text-studio{
    position: absolute;
    right: -10px;
    bottom: 54px;
    transform: rotate(-90deg);
    font-size: 23px;
}

#img-blue{
    width: 40px;
    height: 100%;
    float: right;
    background-color: rgb(52,132,217);
    display: inline-block;
}

#subtitle{
    margin-top: 150px;
    position: relative;
}

.subtitle-text{
    display: inline-block;
}

#text-year{
    margin: -30px auto auto 30%;
    font-size: 110px;
    font-family: Consolas;
    color: rgb(208,217,207);
    letter-spacing: 0px;
}

#text-exp{
    position: absolute;
    right: 15%;
    font-family: "华文宋体";
    text-align: right;
    line-height: 1.8em;
}

#content{
    position: relative;
    width: 80%;
    min-height: 600px;
    height: 100%;
    margin: 100px auto 0px auto;
}

#content p{
    font-family: "微软雅黑 Light";
    font-size: 13px;
    color: rgb(148,157,147);
}

#content-left{
    float: left;
    width: 45%;
}

#content-right{
    float: right;
    width: 45%;
    right: 0px;
    padding-top: 40px;
}

.info{
    margin: 30px;
}

#contact{
    height: 105px;
    position: relative;
    margin-bottom: 40px;
}

.contact-div{
    display: inline-block;
}

#img-blue1{
    width: 20px;
    height: 100%;
    background-color: rgb(52,132,217);
}

#contact-info{
    position: absolute;
    top: 0px;
    left: 40px;
}

#text-us{
    font-size: 30px;
    color: rgb(52,132,217);
}

#phone, #mail{
    margin: 10px auto auto auto;
    color: rgb(148,157,147);
}

#phone img, #mail img{
    margin-right:20px;
}

#foot{
    margin-right: 5%;
    font-size: 16px;
    color: rgb(148,157,147);
    float: right;
    margin-bottom: 5px;
}

.foot-text{
    display: inline-block;
}

#text-blue{
    color: rgb(52,132,217);
}

